/* src/styles/fonts.css */

/* Tajawal (Arabic) */
@font-face {
  font-family: 'Tajawal';
  src: url('../assets/fonts/Tajawal-Regular.ttf') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tajawal';
  src: url('../assets/fonts/Tajawal-Bold.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Cairo (Latin) */
@font-face {
  font-family: 'Cairo';
  src: url('../assets/fonts/Cairo-Bold.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cairo';
  src: url('../assets/fonts/Cairo-Regular.ttf') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* متغيرات عامة للسهول */
:root{
  --font-ar: 'Tajawal', sans-serif;
  --font-lt: 'Cairo', sans-serif;
}
