@import url('./styles/fonts.css');

body {
  margin: 0;
  font-family: var(--font-ar); /* ← استخدم خط Tajawal الافتراضي للعربية */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl; /* لو موقعك عربي */
}

code {
  font-family: var(--font-lt); /* ← استخدم Cairo للغة اللاتينية */
}
